.appContainer{
  display:  flex;
  flex-direction: row;
  height:  100vh;
  width:  100vw;
}

.productsContainer{
  display:  inherit;
  flex-direction: row;
  flex-wrap:  wrap;
  width: 85%;
  float: left;

}

.productContainer {
  width:  25%;
}

.productImage{
  width: 100%;
}

.addToCartButton{
    background-color: #1b1a20;
    color: #fff;
    padding: 15px 0;
    margin-top: 10px;
    cursor: pointer;
    width: 90%;
}


.filterContainer{
  display:  inherit;
  flex-direction: row;
  flex-wrap:  wrap;
  width: 15%;
  height:  20%;
}

.filterButtons {

}

.filterButton {
  background-color: #ececec;
  width: 35px;
  height: 35px;
  border-radius:  50%;
  margin-left: 10px;
}

.filtersAvailableSize{
  display: inline-block;
  margin-bottom: 10px;
}

.title{
    margin: 2px 20px 0px 10px;
}